main {
    margin: 0 auto;
    width: 70%;
    font-family: 'Roboto Slab', sans-serif;
    padding-top: 13rem;
}
body {
    margin-top: 0;
    margin-left: 0;
}
header {
    position: fixed;
    background-color: white;
    width: 100%;
}
.portrait {
    float: right;
}
.logo {
    width: 20%;
}
.logo-bar {
    border-bottom: 3px solid #ff8637;
}
h1 {
    font-size: 4rem;
    margin-bottom: 0;
    border-bottom: none !important;
}
h3 {
    margin-top: 0;
}
.grey {
    color: grey;
    font-size: 0.9rem;
}
.title {
    color: #ff8637;
}
.title::before {
    display: block; 
    content: " "; 
    margin-top: -130px; 
    height: 130px; 
    visibility: hidden; 
    pointer-events: none;
}
nav {
    border-bottom: 2px solid #ff8637;
    height: 2.5rem;
}
a {
    text-decoration: none;
    color: black;
}
.nav-list {
    list-style: none;
    font-size: 1.9rem;
    display: inline;
    margin-left: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}
a:hover {
    text-decoration: none;
    color: #ff8637;
}
.nav-content {
    text-align: center;
}
.line {
    border-bottom: 2px solid #ff8637;
}
#Contact_information {
    padding-bottom: 7px;
}
